.bg-img{
 background-image: url(https://ik.imagekit.io/4z8covdo9/MERN-COURSE-ASSETS/TOURISM-PROJECT/sea-ocean);
 height: 600px;
 width: 300px;
 background-size: cover;
}

.back-img{
    background-image: url(https://ik.imagekit.io/yajnesh/taj-mahal?updatedAt=1735473675027);
    height: 626px ;
    width: 300px ;
    background-size: contain;
    background-repeat: no-repeat;
}